* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.frame {
  width: 380px;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #373636;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.5);
}

.frame__head {
  padding: 6px 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #373636;
}

.frame__content {
  padding: 16px;
  background-color: #EFEFEF;
}

.indicator {
  padding: 8px 10%;
  background-color: #FFFFFF;
  border: 1px solid #CCCACA;
  border-radius: 8px;
}

.indicator__info {
  display: flex;
  align-items: center;
  transition: all .2s;
}

.indicator__info p {
  margin: 0;
}

.indicator__progress {
  display: flex;
  align-items: center;
  margin: 16px 0 32px;
}

.progress {
  position: relative;
  margin: 0 12px;
  flex: 1 1 auto;
}

.progress:last-child {
  margin-right: 0;
}

.progress__bar {
  position: relative;
  height: 15px;
  padding: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: #C4C4C4;
  width: calc(100% - 54px);
}

.progress__bar-line {
  position: relative;
  display: block;
  height: 100%;
  width: 0;
  background: #1776CA;
  transition: width .2s linear;
}

.progress__bar-line::before {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 2px;
  content: '';
  border: 4px solid transparent;
  border-bottom-color: #000000;
}

.progress__bar-line::after {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
  content: '$'attr(data-value);
  font-size: 12px;
  width: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.progress__target {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 54px;
}

.target {
  text-align: center;
  color: #FFFFFF;
  background: rgb(120,120,120);
  border: 1px solid #D4D1D1;
  border-radius: 4px;
  transition: all .2s;
}

.target_finish {
  background: #00A910;
}

.target__head {
  padding: 2px 8px;
  font-size: 12px;
}

.target__value {
  padding: 2px 8px;
  font-size: 18px;
}

.ico {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.ico:first-child {
  margin-left: 0;
}

.ico:last-child {
  margin-right: 0;
}

.ico img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.caption {
  font-weight: bold;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
